<!DOCTYPE html>
<html>
  <head>
    <title>Eduate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <div class="header-logo">  
      <% if user_signed_in? %>
        ログインユーザー： <%= current_user.email %>
        <%= link_to 'アカウント変更', edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path,method: :delete  %>
      <% else %>
      <ul class="Eduate-left">
       <%= link_to "Eduate", root_path %>
      </ul>
      <ul class="Eduate-right">
       <%= link_to "新規作成", new_user_registration_path %>
       <%= link_to "ログイン", new_user_session_path %>
       <%= link_to "Eduateとは", "/about" %>
      </ul>
     <% end %>
    </div>
     </header>
      <%= yield %>
    </body>
    
</html>
